---
layout: base.njk
title: Conia Lab Portfolio
---

<!-- component slide lg -->
<section class="mb-4">
  <div class="slide-lg swiper swiper_number">
    <div class="swiper-wrapper">
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide1.png" class="w-100"></a>
      </div>
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide2.png" class="w-100"></a>
      </div>
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide3.gif" class="w-100"></a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- component slide md -->
<section class="container mb-4">
  <div class="slide-lg swiper swiper_number">
    <div class="swiper-wrapper">
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_md1.png" class="w-100"></a>
      </div>
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_md2.png" class="w-100"></a>
      </div>
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_md3.png" class="w-100"></a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- element text -->
<section class="container mb-4">
  <h1 class="fw-bold"><br>회사 주변 카페 식당 할인 '오늘티켓'</h1>
</section>

<!-- element button group -->
<section class="container my-3 px-2">
	<div class="position-relative">
		<div class="py-2 px-2 overflow-scroll scroll-d-none x-slider">
			<ul class="btn-grp anchor-box list-unstyled d-flex flex-nowrap my-0" style="gap: 6px;">
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/area1.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/area2.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/area3.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/area4.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/area5.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/area6.png" alt="button image">
          </a>
        </li>
			</ul>		
		</div>
		<div class="to_left d-none"></div>
		<div class="to_right d-none"></div>		
	</div>
</section>

<!-- component slide md -->
<section class="container mb-4">
  <div class="slide-lg swiper swiper_number">
    <div class="swiper-wrapper">
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_rt1.png" class="w-100"></a>
      </div>
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_rt2.png" class="w-100"></a>
      </div>
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_rt3.png" class="w-100"></a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!-- element text -->
<section class="container mb-4">
  <h1 class="fw-bold"><br>직장인을 위한 맞춤 '쇼핑'</h1>
</section>


<!-- element button group -->
<section class="container my-3 px-2">
	<div class="position-relative">
		<div class="py-2 px-2 overflow-scroll scroll-d-none x-slider">
			<ul class="btn-grp anchor-box list-unstyled d-flex flex-nowrap my-0" style="gap: 6px;">
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/spcate1.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/spcate2.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/spcate3.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/spcate4.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/spcate5.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/spcate6.png" alt="button image">
          </a>
        </li>
			</ul>		
		</div>
		<div class="to_left d-none"></div>
		<div class="to_right d-none"></div>		
	</div>
</section>

<!-- component slide md -->
<section class="container mb-4">
  <div class="slide-lg swiper swiper_number">
    <div class="swiper-wrapper">
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_sp1.png" class="w-100"></a>
      </div>
      <div class="swiper-slide d-lg-flex justify-content-center">
        <a href="#" class="w-100"><img src="/static/img/main/slide_sp2.png" class="w-100"></a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<section class="container py-sm-3 py-2 my-3">
  <div class="row mx-n1">
    <div class="col-md-6 col-12 mb-3 px-1">
      <a href="#" class="product-card product-list-type d-block h-100 text-dark">
        <div class="d-flex">
          <div class="position-relative h-100 flex-shrink-0" style="max-width:160px; width:30%; min-width:84px;">
            <img src="/static/img/product/thumb/seolbing.jpg" class="rounded img-1by1" style="width: 100%;" alt="Product">
          </div>
          <div class="item-card-body p-0 ms-3 flex-shrink-1" style="width:100%; padding-bottom: 0.5rem !important;">
            <div class="d-flex justify-content-between">
              <div class="item-name-wrap">
                <div class="item-shop-name">설빙</div>
                <div class="item-title h-auto ellipsis-1">설빙 달콤한 망고를 그대로! 프리미엄 디저트 망고스틱 60g×10개~50개 택</div>
              </div>
              <button class="btn-wishlist btn-sm mt-1 flex-shrink-0" type="button" onclick="wish(event, this)">
                <i class="ci-heart"></i>
              </button>
            </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">27%</span>
                <div class="item-selling-price">14,600원</div>
                <del class="item-discount-price">19,900원</del>
              </div>
              <div class="item-badge-wrap">
                <span class="badge badge-shadow" style="background-color: #54c0f7">쿨썸머</span>
              </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-12 mb-3 px-1">
      <a href="#" class="product-card product-list-type d-block h-100 text-dark">
        <div class="d-flex">
          <div class="position-relative h-100 flex-shrink-0" style="max-width:160px; width:30%; min-width:84px;">
            <img src="/static/img/product/thumb/voar.jpg" class="rounded img-1by1" style="width: 100%;" alt="Product">
          </div>
          <div class="item-card-body p-0 ms-3 flex-shrink-1" style="width:100%; padding-bottom: 0.5rem !important;">
            <div class="d-flex justify-content-between">
              <div class="item-name-wrap">
                <div class="item-shop-name">보아르</div>
                <div class="item-title h-auto ellipsis-1">다이닝 저당밥솥 4인용 6인용 올스텐 보온 전기밥솥</div>
              </div>
              <button class="btn-wishlist btn-sm mt-1 flex-shrink-0" type="button" onclick="wish(event, this)">
                <i class="ci-heart"></i>
              </button>
            </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">21%</span>
                <div class="item-selling-price">214,900원</div>
                <del class="item-discount-price">159,000원</del>
              </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-12 mb-3 px-1">
      <a href="#" class="product-card product-list-type d-block h-100 text-dark">
        <div class="d-flex">
          <div class="position-relative h-100 flex-shrink-0" style="max-width:160px; width:30%; min-width:84px;">
            <img src="/static/img/product/thumb/duratex.jpg" class="rounded img-1by1" style="width: 100%;" alt="Product">
          </div>
          <div class="item-card-body p-0 ms-3 flex-shrink-1" style="width:100%; padding-bottom: 0.5rem !important;">
            <div class="d-flex justify-content-between">
              <div class="item-name-wrap">
                <div class="item-shop-name">듀라텍스</div>
                <div class="item-title h-auto ellipsis-1">[듀라텍스] 냉감 쿨매트 싱글/ 퀸(DR-SCP2508SS/DR-SCP2508Q) 택 1</div>
              </div>
              <button class="btn-wishlist btn-sm mt-1 flex-shrink-0" type="button" onclick="wish(event, this)">
                <i class="ci-heart"></i>
              </button>
            </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">58%</span>
                <div class="item-selling-price">24,900원</div>
                <del class="item-discount-price">59,000원</del>
              </div>
              <div class="item-badge-wrap">
                <span class="badge badge-shadow" style="background-color: #54c0f7">쿨썸머</span>
              </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-12 mb-3 px-1">
      <a href="#" class="product-card product-list-type d-block h-100 text-dark">
        <div class="d-flex">
          <div class="position-relative h-100 flex-shrink-0" style="max-width:160px; width:30%; min-width:84px;">
            <img src="/static/img/product/thumb/cuchen.jpg" class="rounded img-1by1" style="width: 100%;" alt="Product">
          </div>
          <div class="item-card-body p-0 ms-3 flex-shrink-1" style="width:100%; padding-bottom: 0.5rem !important;">
            <div class="d-flex justify-content-between">
              <div class="item-name-wrap">
                <div class="item-shop-name">쿠첸</div>
                <div class="item-title h-auto ellipsis-1">쿠첸 가습기 20L CDH-BF200W</div>
                <div class="item-subtitle ellipsis-1">CDH-BF200W</div>
              </div>
              <button class="btn-wishlist btn-sm mt-1 flex-shrink-0" type="button" onclick="wish(event, this)">
                <i class="ci-heart"></i>
              </button>
            </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">70%</span>
                <div class="item-selling-price">330,000원</div>
                <del class="item-discount-price">1,104,000원</del>
              </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-12 mb-3 px-1">
      <a href="#" class="product-card product-list-type d-block h-100 text-dark">
        <div class="d-flex">
          <div class="position-relative h-100 flex-shrink-0" style="max-width:160px; width:30%; min-width:84px;">
            <img src="/static/img/product/thumb/coolbear.jpg" class="rounded img-1by1" style="width: 100%;" alt="Product">
          </div>
          <div class="item-card-body p-0 ms-3 flex-shrink-1" style="width:100%; padding-bottom: 0.5rem !important;">
            <div class="d-flex justify-content-between">
              <div class="item-name-wrap">
                <div class="item-shop-name">쿨베어</div>
                <div class="item-title h-auto ellipsis-1">[쿨베어] 99.9% UV차단 파우치 5단 양우산 UPF50+(실버, 스카이, 퍼플, 블랙)</div>
              </div>
              <button class="btn-wishlist btn-sm mt-1 flex-shrink-0" type="button" onclick="wish(event, this)">
                <i class="ci-heart"></i>
              </button>
            </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">55%</span>
                <div class="item-selling-price">13,500원</div>
                <del class="item-discount-price">30,000원</del>
              </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-12 mb-3 px-1">
      <a href="#" class="product-card product-list-type d-block h-100 text-dark">
        <div class="d-flex">
          <div class="position-relative h-100 flex-shrink-0" style="max-width:160px; width:30%; min-width:84px;">
            <img src="/static/img/product/thumb/oa.jpg" class="rounded img-1by1" style="width: 100%;" alt="Product">
          </div>
          <div class="item-card-body p-0 ms-3 flex-shrink-1" style="width:100%; padding-bottom: 0.5rem !important;">
            <div class="d-flex justify-content-between">
              <div class="item-name-wrap">
                <div class="item-shop-name">오아</div>
                <div class="item-title h-auto ellipsis-1">에어셋2 헤어스타일러 멀티 에어브러시 4in1 드라이기 에어셋</div>
              </div>
              <button class="btn-wishlist btn-sm mt-1 flex-shrink-0" type="button" onclick="wish(event, this)">
                <i class="ci-heart"></i>
              </button>
            </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">25%</span>
                <div class="item-selling-price">134,900원</div>
                <del class="item-discount-price">179,000원</del>
              </div>
          </div>
        </div>
      </a>
    </div>        
                
  </div>
</section>