<footer class="footer bg-dark">
  <div class="pt-4 bg-darker">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start">
          <div class="widget widget-links widget-light">
            <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
              <li class="widget-list-item me-2"><a class="widget-list-link" href="">이용 약관</a></li>
              <li class="widget-list-item mx-2"><a class="widget-list-link" href="">개인정보취급방침</a></li>
              <li class="widget-list-item mx-2"><a class="widget-list-link" href="">청소년보호정책</a></li>
              <li class="widget-list-item ms-2"><a class="widget-list-link" href="">판매자정보</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-end d-none">
          <div class="mb-3 mt-3 mt-md-0">
            <a class="btn-social bs-light bs-twitter me-1 mb-2" href="#"><i class="ci-twitter"></i></a>
            <a class="btn-social bs-light bs-facebook mx-1 mb-2" href="#"><i class="ci-facebook"></i></a>
            <a class="btn-social bs-light bs-instagram mx-1 mb-2" href="#"><i class="ci-instagram"></i></a>
            <a class="btn-social bs-light bs-youtube ms-1 mb-2" href="#"><i class="ci-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="pb-2 fs-xs text-light opacity-50">(주)코니아랩<br>
        주소: 서울특별시 광진구 천호대로 690 3층 <br>
        사업자 등록번호: 180-81-00867<br>
        대표자: 김규식,나현정<br>
        건강기능식품 영업신고번호: 제20210040295호<br>
        의료기기판매업 신고번호: 제2745호<br>
        통신판매업 신고번호: 제2019-서울광진-1022호<br>
        이메일: conia_cs@conia.co.kr<br>
        카카오톡 채널: 윙-크<br>
        (주)코니아랩은 통신판매중개자로서 통신판매 당사자가 아니며, 판매자가 판매하는 상품정보 및 거래에 관한 의무와 책임을 지지 않습니다.
      </div>
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">Copyright ⓒ 
        <a class="text-light" href="https://www.conialab.com" target="_blank" rel="noopener">ConiaLab Corp.</a> All rights reserved.
      </div>
    </div>
  </div>
</footer>
