{% set currentURL = page.url %}
<header>
  <div class="bg-light shadow-none" style="border-bottom:1px solid #efefef;">
    <!-- 최상단 -->
    <div class="navbar navbar-light">
      <div class="container">
        {% if currentURL == '/' %}
          <a class="navbar-brand flex-shrink-0" href="/">
            <img src="/static/img/coniaLab.png" width="120" alt="logo">
          </a>
        {% else %}
          <a href="javascript:history.back();" class="btn py-1 px-2 text-dark d-block"><i class="ci-arrow-left"></i></a>
        {% endif %}
        <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
          <div class="navbar-tool">
            <a href="javascript:void(0);" class="navbar-tool-icon-box" id="pushBell" onclick="openPush()" style="line-height: 3rem;">
              <i class="navbar-tool-icon custom-icon icon-bell" style="font-size: 21px;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% if '/account' in currentURL %}
      <!-- account breadcrumb -->
      <div class="w-100 mb-0 px-4 py-2 border-bottom fw-bold fs-sm">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item fs-xs"><a href="/"><i class="ci-home"></i></a></li>
            <li class="breadcrumb-item fs-xs text-muted">마이메뉴</li>
            <li class="breadcrumb-item fs-xs text-dark" aria-current="page">{{ title }}</li>
          </ol>
        </nav>
      </div>
    {% else %}
      <!-- theme menu -->
      <div class="position-relative px-2">
        <div class="overflow-scroll scroll-d-none x-slider">
          <ul class="btn-grp d-flex align-items-center flex-nowrap list-unstyled mb-0 primary_menu">
            <li class="px-3 mb-0 flex-shrink-0"><a href="/pages/shop_ticket/" class="py-2 d-inline-block text-dark">오늘티켓</a></li>
            <li class="px-3 mb-0 flex-shrink-0"><a href="/pages/brand_ticket/" class="py-2 d-inline-block text-dark">브랜드티켓</a></li>
            <li class="px-3 mb-0 flex-shrink-0"><a href="/pages/shopping/" class="py-2 d-inline-block text-dark">쇼핑</a></li>
            <li class="px-3 mb-0 flex-shrink-0"><a href="/pages/event/" class="py-2 d-inline-block text-dark">이벤트</a></li>
          </ul>
        </div>
        <div class="to_left d-none"></div>
        <div class="to_right d-none"></div>
      </div>
    {% endif %}
  </div>
</header>
