---
layout: base.njk
title: 이벤트 상세
permalink: /pages/event_detail/index.html
---

<div class="container mt-4 pt-2 pb-4 my-lg-3">
  <div class="row justify-content-center">
    <div class="col-12 d-sm-flex justify-content-between align-items-baseline border-bottom pb-2 mb-4">
      <h4 class="mb-1 fw-bold">출근길 커피 할인 이벤트</h4>
      <div class="fs-sm text-muted">2025-07-04 ~ 2025-12-31</div>
    </div>
    <div class="col-lg-9 col-12 content-area">
      <img src="/static/img/sub_imgs/event_detail1.gif">
      <img src="/static/img/sub_imgs/event_detail2.png">
    </div>
    <!-- 공유 -->
    <div class="col-12 mt-5 pt-2 border-top">
      <div class="d-flex justify-content-end align-items-center gap-2">
        <span class="fs-sm text-muted pe-2 border-end">공유하기</span>
        <a href="javascript:;" class="d-flex justify-content-center align-items-center rounded-circle text-dark overflow-hidden" style="width:30px; height:30px;">
          <img src="/static/img/kakao.svg" alt="kakao" style="max-width:36px;">
        </a>
        <a href="javascript:void(0);" class="d-flex justify-content-center align-items-center rounded-circle bg-success text-white fw-bold fs-xs" style="width:30px; height:30px;" onclick="urlClipboard();">URL</a>
      </div>
      <!-- 댓글 -->
      <div>
        <div><label for="comment" class="form-label fw-bold">댓글달기</label></div>
        <div class="d-flex">
          <textarea id="comment" name="comment" class="form-control rounded-start" rows="3"></textarea>
          <button type="button" class="btn btn-dark px-3 ms-1" onclick="add_comment()">등록</button>
        </div>
      </div>
    </div>
  </div>
</div>