---
layout: base.njk
title: 오늘티켓
permalink: /pages/shop_ticket/index.html
---

<div class="container position-relative">
  <section class="row mx-0 my-3">
    <div class="col-12 px-0">
      <div class="py-2 overflow-scroll scroll-d-none x-slider">
        <ul class="btn-grp nav nav-pills gap-2 flex-nowrap">
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-dark text-white shadow-none active" style="padding:0.3rem 0.85rem;">구로</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">서초</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">선릉</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">가산</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">종로</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">마곡</a></li>
        </ul>
      </div>
      <div class="to_left d-none"></div>
      <div class="to_right d-none"></div>
    </div>
  </section>
</div>

<section class="container my-3 px-2">
	<div class="position-relative">
		<div class="py-2 px-2 overflow-scroll scroll-d-none x-slider">
			<ul class="btn-grp anchor-box list-unstyled d-flex flex-nowrap my-0" style="gap: 6px;">
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/shop_ticket1.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/shop_ticket2.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/shop_ticket3.png" alt="button image">
          </a>
        </li>
        <li class="flex-shrink-0 my-0">
          <a href="#" class="btn img-button btn-sm p-0 text-center">
            <img src="/static/img/buttons/shop_ticket4.png" alt="button image">
          </a>
        </li>
			</ul>		
		</div>
		<div class="to_left d-none"></div>
		<div class="to_right d-none"></div>		
	</div>
</section>

<section class="container py-sm-3 py-2 my-3">
  <div class="row mx-n1">
    <div class="col-sm-6 col-12 mb-grid-gutter px-1">
      <a href="/pages/shop/" class="d-block h-100 text-dark">
        <div class="card product-card h-100 border-0">
          <img class="w-100 rounded" src="/static/img/shop/shop1.png" alt="shop">
          <div class="d-flex flex-column text-center py-2 h-100">
            <div class="fw-bold word-keep-all fs-sm">삼백집 지타워몰점</div>
            <div class="text-dgray ellipsis-2 word-keep-all fs-sm">하루, 삼백 그릇 정성으로 담아내는 단 하나의 맛!</div>
            <div class="d-flex justify-content-center gap-1 flex-wrap" style="margin:6px 0;">
              <span class="badge badge-shadow position-static" style="background-color: #ff5f00">특가</span>
              <span class="badge badge-shadow position-static" style="background-color: #06a750">G타워매장</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-12 mb-grid-gutter px-1">
      <a href="#" class="d-block h-100 text-dark">
        <div class="card product-card h-100 border-0">
          <img class="w-100 rounded" src="/static/img/shop/shop2.png" alt="shop">
          <div class="d-flex flex-column text-center py-2 h-100">
            <div class="fw-bold word-keep-all fs-sm">찌개랑 덮밥이랑</div>
            <div class="text-dgray ellipsis-2 word-keep-all fs-sm">한국인이 가장 즐겨찾는 소울푸드!</div>
            <div class="d-flex justify-content-center gap-1 flex-wrap" style="margin:6px 0;">
              <span class="badge badge-shadow position-static" style="background-color: #ff5f00">특가</span>
              <span class="badge badge-shadow position-static" style="background-color: #06a750">G타워매장</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-12 mb-grid-gutter px-1">
      <a href="#" class="d-block h-100 text-dark">
        <div class="card product-card h-100 border-0">
          <img class="w-100 rounded" src="/static/img/shop/shop3.png" alt="shop">
          <div class="d-flex flex-column text-center py-2 h-100">
            <div class="fw-bold word-keep-all fs-sm">순대실록</div>
            <div class="text-dgray ellipsis-2 word-keep-all fs-sm">전통순대로 백년대계를 꿈꾸다</div>
            <div class="d-flex justify-content-center gap-1 flex-wrap" style="margin:6px 0;">
              <span class="badge badge-shadow position-static" style="background-color: #ff5f00">특가</span>
              <span class="badge badge-shadow position-static" style="background-color: #06a750">G타워매장</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-12 mb-grid-gutter px-1">
      <a href="#" class="d-block h-100 text-dark">
        <div class="card product-card h-100 border-0">
          <img class="w-100 rounded" src="/static/img/shop/shop4.png" alt="shop">
          <div class="d-flex flex-column text-center py-2 h-100">
            <div class="fw-bold word-keep-all fs-sm">슬로우캘리</div>
            <div class="text-dgray ellipsis-2 word-keep-all fs-sm">건강한 한 끼가 휴식을 선사할 수 있도록!</div>
            <div class="d-flex justify-content-center gap-1 flex-wrap" style="margin:6px 0;">
              <span class="badge badge-shadow position-static" style="background-color: #ff5f00">특가</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-12 mb-grid-gutter px-1">
      <a href="#" class="d-block h-100 text-dark">
        <div class="card product-card h-100 border-0">
          <img class="w-100 rounded" src="/static/img/shop/shop5.png" alt="shop">
          <div class="d-flex flex-column text-center py-2 h-100">
            <div class="fw-bold word-keep-all fs-sm">베트남 노상식당</div>
            <div class="text-dgray ellipsis-2 word-keep-all fs-sm">베트남 식당포차로 현지의 감성과 맛을 그대로!</div>
            <div class="d-flex justify-content-center gap-1 flex-wrap" style="margin:6px 0;">
              <span class="badge badge-shadow position-static" style="background-color: #ff5f00">특가</span>
              <span class="badge badge-shadow position-static" style="background-color: #06a750">G타워매장</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-6 col-12 mb-grid-gutter px-1">
      <a href="#" class="d-block h-100 text-dark">
        <div class="card product-card h-100 border-0">
          <img class="w-100 rounded" src="/static/img/shop/shop6.jpg" alt="shop">
          <div class="d-flex flex-column text-center py-2 h-100">
            <div class="fw-bold word-keep-all fs-sm">롱타임노씨</div>
            <div class="text-dgray ellipsis-2 word-keep-all fs-sm">내맘대로 골라먹는 수제 피자&맥주</div>
            <div class="d-flex justify-content-center gap-1 flex-wrap" style="margin:6px 0;">
              <span class="badge badge-shadow position-static" style="background-color: #ff5f00">특가</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>