---
layout: base.njk
title: 쇼핑
permalink: /pages/shopping/index.html
---

<div class="container position-relative">
  <section class="row mx-0 my-3">
    <div class="col-12 px-0">
      <div class="py-2 overflow-scroll scroll-d-none x-slider">
        <ul class="btn-grp nav nav-pills gap-2 flex-nowrap">
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-dark text-white" style="padding:0.3rem 0.85rem;">간편식</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">신선</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">생수/음료</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">간식/과자</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">디지털</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">소형가전</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">오피스/차량</a></li>
            <li class="nav-item flex-shrink-0 mx-0"><a href="#" class="nav-link rounded-pill border fs-sm bg-white" style="padding:0.3rem 0.85rem;">주방/욕실</a></li>
        </ul>
      </div>
      <div class="to_left d-none"></div>
      <div class="to_right d-none"></div>
    </div>
  </section>
</div>

<div class="container pb-5">
  <section class="mt-2">
    <!-- sort -->
    <div class="d-flex justify-content-end">
      <div class="d-flex flex-shrink-0 align-items-center px-0 ps-3 mb-2" style="width:130px;">
        <label class="text-info fs-xs pt-1" for="sorter"><i class="ci-arrows-vertical"></i></label>
        <select class="form-select form-select-sm form-select-custom border-0 ps-2 pe-1 bg-white text-dark" id="sorter">
          <option value="newest" selected>신상품순</option>
          <option value="name">상품명</option>
          <option value="minPrice">가격낮은순</option>
          <option value="maxPrice">가격높은순</option>
        </select>
      </div>
    </div>
    <div class="row mx-n1">
      <div class="col-6 px-1 mb-grid-gutter">
        <div class="card product-card h-100 border-0 overflow-hidden">
          <a href="/pages/product_d/" class="d-block h-100 text-dark">
            <div class="position-relative">
              <img src="/static/img/product/thumb/shopping1.jpg" alt="Product" class="img-1by1 rounded-3">
            </div>
            <div class="item-card-body">
              <div class="item-name-wrap">
                <div class="item-shop-name">바밤</div>
                <div class="item-title ellipsis-2">신제품 바밤포켓밀 바밤단호박 오트죽 7개입</div>
              </div>
              <div class="item-price-wrap">
                <div class="item-selling-price">23,100원</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 px-1 mb-grid-gutter">
        <div class="card product-card h-100 border-0 overflow-hidden">
          <a href="/pages/product_d/" class="d-block h-100 text-dark">
            <div class="position-relative">
              <img src="/static/img/product/thumb/shopping2.jpg" alt="Product" class="img-1by1 rounded-3">
            </div>
            <div class="item-card-body">
              <div class="item-name-wrap">
                <div class="item-shop-name">스윗모리스</div>
                <div class="item-title ellipsis-2">스윗모리스 국내산 저당 고단백 닭가슴살 120g 골라담기 소비기한 25.11.04까지</div>
              </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">63%</span>
                <div class="item-selling-price">9,900원</div>
                <div class="item-discount-wrap">
                  <del class="item-discount-price">26,000원</del>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 px-1 mb-grid-gutter">
        <div class="card product-card h-100 border-0 overflow-hidden">
          <a href="/pages/product_d/" class="d-block h-100 text-dark">
            <div class="position-relative">
              <img src="/static/img/product/thumb/shopping3.jpg" alt="Product" class="img-1by1 rounded-3">
            </div>
            <div class="item-card-body">
              <div class="item-name-wrap">
                <div class="item-shop-name">초필살돼지구이</div>
                <div class="item-title ellipsis-2">[초필살돼지구이] 매콤 쫄돼지볶음 (650g X 2)</div>
              </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">10%</span>
                <div class="item-selling-price">35,500원</div>
                <div class="item-discount-wrap">
                  <del class="item-discount-price">39,400원</del>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 px-1 mb-grid-gutter">
        <div class="card product-card h-100 border-0 overflow-hidden">
          <a href="/pages/product_d/" class="d-block h-100 text-dark">
            <div class="position-relative">
              <img src="/static/img/product/thumb/shopping4.png" alt="Product" class="img-1by1 rounded-3">
            </div>
            <div class="item-card-body">
              <div class="item-name-wrap">
                <div class="item-shop-name">삼원가든</div>
                <div class="item-title ellipsis-2">[삼원가든] 얼큰육개장 (600g X 4)</div>
              </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">7%</span>
                <div class="item-selling-price">29,700원</div>
                <div class="item-discount-wrap">
                  <del class="item-discount-price">32,100원</del>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 px-1 mb-grid-gutter">
        <div class="card product-card h-100 border-0 overflow-hidden">
          <a href="/pages/product_d/" class="d-block h-100 text-dark">
            <div class="position-relative">
              <img src="/static/img/product/thumb/shopping5.jpg" alt="Product" class="img-1by1 rounded-3">
            </div>
            <div class="item-card-body">
              <div class="item-name-wrap">
                <div class="item-shop-name">이숙이네</div>
                <div class="item-title ellipsis-2">[이숙이네] 양념알곱창 300g</div>
              </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">7%</span>
                <div class="item-selling-price">29,700원</div>
                <div class="item-discount-wrap">
                  <del class="item-discount-price">32,100원</del>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 px-1 mb-grid-gutter">
        <div class="card product-card h-100 border-0 overflow-hidden">
          <a href="/pages/product_d/" class="d-block h-100 text-dark">
            <div class="position-relative">
              <img src="/static/img/product/thumb/shopping6.jpg" alt="Product" class="img-1by1 rounded-3">
            </div>
            <div class="item-card-body">
              <div class="item-name-wrap">
                <div class="item-shop-name">이숙이네</div>
                <div class="item-title ellipsis-2">[이숙이네] 직화 오돌뼈 200g</div>
              </div>
              <div class="item-price-wrap">
                <span class="item-discount-per">7%</span>
                <div class="item-selling-price">29,700원</div>
                <div class="item-discount-wrap">
                  <del class="item-discount-price">32,100원</del>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>                              
    </div>
  </section>
</div>